<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #fbebdb">
<nav th:replace="fragments/fragment :: navbar('Store')"></nav>

<div class="container">
    <br><br><br>
    <div class="justify-content-center">
        <div class="col d-flex justify-content-center">
            <div class="card card-block align-items-center d-flex" style="width: 55rem">
                <div class="card-body">
                    <br>
                    <h2 class="font-weight-bold align-items-center text-center" style="color: #64443c"
                        th:text="'Boba Teas successfully updated For Store ' + ${store.name} + '!'">
                    </h2>

                    <br>
                    <br>
                    <a class="text-center" th:href="@{/store/} + ${store.idStore}" style="color: #f3ae76" th:text="'<-- Back to Store detail'"></a>

                    <br><br>
                    <h3 class="text-center"  style="color: #64443c">List of Boba Tea</h3>
                    <br>
                    <table class="table table-striped text-center" style="width:50rem">
                        <thead class="text-light text-center" style="background-color: #64443c">
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Size</td>
                            <td>Ice</td>
                            <td>Sugar</td>
                            <td>Topping</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bobaTeaStore, iStatus: ${listBobaTeaStore}">
                            <td th:text="${bobaTeaStore.bobaTea.name}"></td>
                            <td th:text="${bobaTeaStore.bobaTea.price}"></td>

                            <td th:if="${bobaTeaStore.bobaTea.size==0}">S</td>
                            <td th:if="${bobaTeaStore.bobaTea.size==1}">M</td>
                            <td th:if="${bobaTeaStore.bobaTea.size==2}">L</td>

                            <td th:if="${bobaTeaStore.bobaTea.iceLevel==0}">Less</td>
                            <td th:if="${bobaTeaStore.bobaTea.iceLevel==1}">Normal</td>
                            <td th:if="${bobaTeaStore.bobaTea.iceLevel==2}">Extra</td>

                            <td th:if="${bobaTeaStore.bobaTea.sugarLevel==0}">Less</td>
                            <td th:if="${bobaTeaStore.bobaTea.sugarLevel==1}">Normal</td>
                            <td th:if="${bobaTeaStore.bobaTea.sugarLevel==2}">Extra</td>

                            <td th:text="${bobaTeaStore.bobaTea.topping.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>