<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #fbebdb">
<nav th:replace="fragments/fragment :: navbar('Boba Tea')"></nav>
<div class="container">
    <br><br><br>
    <div class="justify-content-center">
        <div class="col d-flex justify-content-center">
            <div class="card card-block align-items-center d-flex" style="width: 50rem">
                <div class="card-body">
                    <br>
                    <h3 class="font-weight-bold align-items-center text-center" style="color: #64443c" >
                        Update Boba Tea
                    </h3>
                    <br>
                    <form th:action="@{/boba/update/} + ${bobaTea.idBobaTea}" th:object="${bobaTea}" method="post">
                        <input type="hidden" th:field="*{idBobaTea}">

                        <table class="table table-borderless" style="width:35rem">
                            <tr>
                                <td colspan="2">
                                    Boba Tea Name <br>
                                    <input required class="form-control" type="text" name="name" th:value="*{name}">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    Price <br>
                                    <input required class="form-control" type="number" name="price" th:value="*{price}">
                                </td>
                                <td class="col-6">
                                    Size <br>
                                    <select name="size" class="form-control" th:field="*{size}">
                                        <option value="0">S</option>
                                        <option value="1">M</option>
                                        <option value="2">L</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sugar Level <br>
                                    <select name="sugarLevel" class="form-control" th:field="*{sugarLevel}">
                                        <option value="0">Less</option>
                                        <option value="1">Normal</option>
                                        <option value="2">Extra</option>
                                    </select>
                                </td>
                                <td>
                                    Ice Level <br>
                                    <select name="iceLevel" class="form-control" th:field="*{iceLevel}">
                                        <option value="0">Less</option>
                                        <option value="1">Normal</option>
                                        <option value="2">Extra</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Topping <br>
                                    <select class="form-control" th:field="*{topping}">
                                        <option th:each="topping : ${listTopping}"
                                                th:text="${topping.name}"
                                                th:value="${topping.idTopping}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-light" href="/">Cancel</a>
                                </td>
                                <td>
                                    <button class="btn text-light" type="submit" style="background-color: #64443c">Save</button>
                                </td>
                            </tr>
                        </table>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>